facebook-bot/src/main/app/wcs-postback-decider.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="wcs-postback-deciderFlow">
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <logger message="postBackPayload: #[payload]" level="INFO" doc:name="Logger"/>
        <choice doc:name="Choice">
            <when expression="#[payload.entry[0].messaging[0].postback.payload.contains(&quot;SUB_CAT_&quot;)]">
                <set-variable variableName="senderId" value="#[payload.entry[0].messaging[0].sender.id]" doc:name="Variable"/>
                <set-variable variableName="subCategoryPayload" value="#[payload.entry[0].messaging[0].postback.payload]" doc:name="set subCategoryPayload"/>
                <set-variable variableName="subCategoryId" value="#[flowVars.subCategoryPayload.split(&quot;_&quot;)[flowVars.subCategoryPayload.split(&quot;_&quot;).length - 2]]" doc:name="set subCategoryId"/>
                <set-variable variableName="subCategoryName" value="#[flowVars.subCategoryPayload.split(&quot;_&quot;)[flowVars.subCategoryPayload.split(&quot;_&quot;).length - 1]]" doc:name="Set subCategoryName"/>
                <http:request config-ref="WCS_Search_HTTP_Request_Configuration" path="/search/resources/store/{storeId}/productview/byCategory/{categoryId}?pageSize=5&amp;pageNumber=1" method="GET" doc:name="HTTP">
                    <http:request-builder>
                        <http:uri-param paramName="categoryId" value="#[flowVars.subCategoryId]"/>
                        <http:uri-param paramName="storeId" value="${wcs_storeId}"/>
                        <http:header headerName="Content-Type" value="application/json"/>
                    </http:request-builder>
                    <http:success-status-code-validator values="0..599"/>
                </http:request>
                <dw:transform-message doc:name="Transform Message" metadata:id="2f5c1102-b24b-402f-adbc-17de806d5031">
                    <dw:input-payload mimeType="application/json"/>
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	recipient: {
		id: flowVars.senderId
	},
	message: {
		attachment: {
			type: "template",
			payload: {
				template_type: "generic",
				image_aspect_ratio: "square",
				elements: payload.catalogEntryView map ((catalogEntryView , indexOfCatalogEntryView) -> {
					title: catalogEntryView.name,
					image_url: "http://34.194.115.169" ++ catalogEntryView.thumbnail,
					subtitle: catalogEntryView.shortDescription,
					buttons: [{
						title: "Add To Cart",
						payload: "ADD_TO_CART_P_" ++ flowVars.subCategoryName ++ "_self_" ++ catalogEntryView.uniqueID,
						type: "postback"
					},
					{
                        "type": "postback",
                        "title": "Add To Wishlist",
                        "payload": "ADD_TO_WISHLIST_P_" ++ catalogEntryView.uniqueID
                     }]
				})
			}
		}
	}
}]]></dw:set-payload>
                </dw:transform-message>
                <logger message="payload subcategory: #[payload]" level="INFO" doc:name="Logger"/>
            </when>
            <otherwise>
                <logger message="Default route" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
</mule>
